*.o
*.obj
*.a
*.so
*.dylib
*.dSYM
*.dll
*.exp
*.ilk
*.lib
*.pdb
*.old
*.qlf
*.out
*.aux
*.idx
*.ilg
*.ind
*.log
*.toc
*.bbl
*.blg
*~
TAGS
Makefile
autom4te.cache
config.log
config.status
configure
pl2cpp.tex
pl2cpp.pdf
pl2cpp.html
likes
likes.exe
